<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project Portfolio</title>
    </head>
    <body>
        {{>header}}

<h1>The is prject page</h1>
        {{>footer}}

    </body>
</html>